
    .subscribe{
        background-color: rgb(181, 10, 10);
        color: white;
        border: none;
        height: 30px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 9px;
    }
    .join{
        color: white;
        height: 30px;
        width: 75px;
        color: blue;
        border-radius: 2px;
        border-color: blue;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        margin-right: 9px;
        
    }

    .tweet{
        background-color: rgb(39, 109, 213);
        height: 35px;
        width: 85px;
        color: rgb(239, 239, 243);
        border: none;
        border-radius: 15px;
        border-color: blue;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        margin-right: 9px;
        font-weight: bold;
        font-size: 16px;
    }
