.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
display: flex;
align-items: center;
}
.middle-section{
flex: 1;
max-width: 600px;
margin-left: 70px;
margin-right: 30px;
display: flex;
align-items: center;
}
.right-section{
width: 200px;
display: flex;
align-items: center;
justify-content: end;
flex-shrink: 0;
}
.hamburger-menu{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.yt-logo{
    height: 21px;
}
.search{
    height: 43px;
    width: 43px;
    border-top-right-radius: 22px;
    border-bottom-right-radius:22px ;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    border-color: rgb(192, 192,192);

}
.search::placeholder{
    font-family: roboto,Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.mic-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
}
.search-bar{
    flex: 1;
    height: 40px;
    font-size: 18px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px ;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192,192);
    width: 0;
}
.dot{
    height: 25px;
    width: 25px;
}
.signin{
    margin-left: 25px;
    margin-right: 30px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:#065fd4;
    font-weight: bold;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}
